<launch>
  <arg name="team" default="1"/>
  <arg name="use_trees" default="false"/>

  <!-- KI node controlling the robot -->
  <group ns="robot$(arg team)">
    <group if="$(arg use_trees)">
      <include file="$(find player)/launch/trees.launch"/>
    </group>
    <group unless="$(arg use_trees)">
      <include file="$(find player)/launch/smach.launch"/>
    </group>

    <include file="$(find player)/launch/servers.launch"/>
    <include file="$(find player)/launch/nodes.launch"/>

    <param name="sim_env" type="bool" value="true"/>
    <param name="trees_on" type="bool" value="$(arg use_trees)"/>
  </group>
</launch>
