<launch>
  <arg name="team" default="1"/>

  <arg name="use_python" default="true"/>

  <!-- KI node controlling the robot -->
  <group ns="robot$(arg team)">
    <group unless="$(arg use_python)">
      <node pkg="player" name="player" type="player" output="screen"/>
      <node pkg="player" name="camera" type="camera" output="screen"/>
      <node pkg="player" name="laser" type="laser" output="screen"/>
    </group>

    <group if="$(arg use_python)">
      <node pkg="player" name="player_node" type="player_node.py" output="screen"/>
      <node pkg="player" name="match_node" type="match_node.py" output="screen"/>
      <node pkg="player" name="camera_node" type="camera_node.py" output="screen"/>
      <node pkg="player" name="tf_node" type="tf_node.py" output="screen"/>
      <node pkg="player" name="laser_node" type="laser_node.py" output="screen"/>
    </group>
   </group>
</launch>
